<h3>授权字符串</h3>

<form class="form-horizontal login_form" id="author_form" style="width:700px;">
  <fieldset>
    <div class="form-group">
      {{!-- <label for="username" class="col-lg-2 control-label">授权字符串</label> --}}
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" id="author" class="form-control" value="{{user.authorization}}" readonly required>
          <span class="input-group-btn">
            <button class="btn btn-primary" id="copy_author" data-clipboard-target="#author" type="button" data-title="复制成功">复制</button>
            <button class="btn btn-warning" id="change_author" type="button">更改</button>
          </span>
        </div>
      </div>
    </div>
  </fieldset>
</form>

{{#extend "html_bottom"}}
<script src="/js/clipboard.min.js"></script>
<script src="/js/author.js"></script>
{{/extend}}