<h3>修改密码</h3>

<form class="form-horizontal login_form" id="passport_form">
  <fieldset>
    <div class="form-group">
      <label for="opassword" class="col-lg-3 control-label">旧密码</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" id="opassword" placeholder="Current Passport" required>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-3 control-label">新密码</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" id="password" placeholder="New Password" required>
      </div>
    </div>
    <div class="form-group">
      <label for="password2" class="col-lg-3 control-label">重复新密码</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" id="password2" placeholder="Repeat Password" required>
        <div class="form_error" id="password2_error"></div>
      </div>
    </div>    
    <div class="form-group">
      <div class="col-lg-9 col-lg-offset-3">
        <button type="submit" class="btn btn-primary">提交</button>
        <button type="reset" class="btn btn-default">重置</button>
      </div>
    </div>
  </fieldset>
</form>

{{#extend "html_bottom"}}
<script src="/js/passport.js"></script>
{{/extend}}